.cart-style{
  h1{
    margin-right:6%;
    margin-top: 2%; 
    margin-bottom: 2%;
  }
  li{
    background-color: #ffff;


  }
  ul{
    width:90%;
    float: center;
    margin-right: 3%;
  }
  img{
    vertical-align: middle;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    margin-left: 5%;
  }

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .deleteItem:hover .tooltiptext {
    visibility: visible;
    background-color: #fff;
  }
  #userNameException{
    width:300px;
    height: auto;
    text-align: center;
    color: red;
    font-size: 120%;
  }
.checkClass{
  margin-right:6%;
  margin-top: 2%; 
  margin-bottom: 2%;
  font-size: 120%;
}
.checkout{
  background-color: #ffc048;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}
.checkout:hover{
  transform: scale(1.1,1.1);
}

}