.cart-style{

.column25{
  float: left;
  width: 20%;
  padding: 10px;
  margin-left: 3%;
  margin-top: 3%;
  background-color:#f1f2f6;
}
.column75{
  float: left;
  width: 70%;
  padding: 10px;
  margin-left: 3%;
  margin-top: 3%;
 
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-left: 3%;
}
.container {
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
  text-align:right;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 3%;
}
li{
  border: solid #ced6e0;
  background-color:#f1f2f6;
  margin-bottom: 2%;
}
}