.my-profile-style{
  .avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;

  }
  .container{
    width:50%;
    height: auto;
    text-align: center;
    margin-right: 3%;
    margin-top: 3%;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

  }
  .detail-container{
    text-align: center;
    background-color: #ffff; 
    padding: 2%;
  }
  .img-container{
    background-color: #7189bf;
    padding: 2%;
  }

  #profileUpdatebtn {
    margin-top: 1%;
    width:35%;
    background-color: #7189bf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

  }

  input[type=text] {
    width:200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 150%;
  }
}