.my-books-style{
  h1{
    margin-right:3%;
    margin-top: 2%; 
  }
 button{
   width:88%;
   margin-right:3%;
 }
    .column {
      float: left;
      width: 25%;
      height: 600px;
      margin: 10px;
      padding: 10px;
      border: 1px solid #fff;
      background-color: #ffffff;
      align-items: center;
      text-align: center;
      overflow: scroll;
      box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    }
    .column:hover{
      box-shadow: 0px 0px 10px 5px  rgba(129, 88, 252, 0.2);
      
    }
    .div_title{
        padding: 0;
        margin-top: 0;
        width:100%;
        height: 3%;
        align-items: center;
        text-align: center;

    }
   .a {
      background-color: rgba(129, 88, 252, 0.6);
      color: white;
      padding: 14px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      width:80%;
      border: solid 2px;
    }

   a:hover, a:active {
      background-color: #e8e8e8;
      color: black;
      border: none;
    }
/* Create three equal columns that floats next to each other */
.column {
  margin-top: 3%;
  margin-right: 3%;
  float: right;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


}