@import 'reset';
body{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    box-sizing: border-box;
   }
@import 'navigation-style';

@import 'my-books-style';

@import 'card-style';

@import 'home-style';
@import 'my-notes-style';
@import 'my-account-style';
@import 'my-profile-style';
@import 'modal-style';
