@import 'reset';
body{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    box-sizing: border-box;
   }

 /**************** badge number of new notifications  *************************/
 .notificationNumBadge {
    position:relative;
 }
 .notificationNumBadge[data-notificationNumBadge]:after {
    content:attr(data-notificationNumBadge);
    position:absolute;
    top:4px;
    left: -2px;
    font-size:.7em;
    background:rgb(0, 179, 0);
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
    
 }
   /**************** /badge number of new notifications  *************************/

@import 'navigation-style';

@import 'my-books-style';

@import 'card-style';

@import 'home-style';
@import 'my-notes-style';
@import 'my-account-style';
@import 'my-profile-style';
@import 'modal-style';
@import 'cart-style';
@import 'notes-style';
@import 'account-style';
@import 'message-style';
@import 'group-style';