<!DOCTYPE html>
<html lang="en">

<head>
	<title>Forgot password page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="pages/Login/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<!-- JQuery  -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="pages/Login/css/main.css">
	<!--===============================================================================================-->

	<!-- STYLE CSS -->
	<link rel="Stylesheet" href="/css/style.css" />
  <link rel="Stylesheet" href="/css/forgot.css" />


	{{!-- this file contains a function for choosing a random photo,  it must be placed in head--}}
	<script src="js/login-scripts.js"></script>

</head>

<body>

	{{> unauthenticated_topNav }}



	<div class="limiter">

		<div class="container-login100">

			<div class="wrap-login100">

        <div class="container">
  {{#if errorMsg}}
    <div class="alert alert-danger input-feedback" role="alert" dir="rtl">
      <h1>{{errorMsg}}</h1>
    </div> <br> <br> <br>
  {{/if}}
  {{#if infoMsg}}
    <div class="alert alert-success input-feedback" role="alert" dir="rtl">
      <h1>{{infoMsg}}</h1>
    </div> <br> <br> <br>
  {{/if}}
</div>

				<div class="login100-pic js-tilt" data-tilt>
					{{!-- <img src="pages/Login/images/img-04.png" alt="IMG"> --}}
					<script type="text/javascript">getRandomImage(random_images_array, attribution_a_content_array);</script>
				</div>

				<form method="POST" class="login100-form validate-form" action="/forgot">
					<span class="login100-form-title lang" key="forgotPass">
						Forgot Password
					</span>

					<div class="wrap-input100 validate-input" key="emailInvalid" data-validate="כתובת האימייל חייבת להיות מהצורה: a@b.com">
						<input class="input100 inputHolder" key="email" type="email" name="email" autofocus placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn lang" key="resetPass">
							Reset Password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	{{> unauthenticated_footer}}

	<!--===============================================================================================-->
	<script src="pages/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="pages/Login/vendor/bootstrap/js/popper.js"></script>
	<script src="pages/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="pages/Login/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="pages/Login/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="pages/Login/js/main.js"></script>

</body>

</html>