<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/card_detail.css">
    <link rel="import" href="../view/kid_profile.html">

    <script>
      var link = document.querySelector('link[rel="import"]');
      var content = link.import;
      var el = content.querySelector('.put-include-here');
      document.body.appendChild(el.cloneNode(true));
    </script>
</head>
<body>

<!-- navbar-->
<div class="put-include-here"></div>




  <!-- Header-->
    <header>
    
      <section class="title">
        <h1>Games</h1>
      </section>
    </header>

 <!-- cards-->

<div class="main">
    {{#Game}}
    <div class="cards">
        <article class="card">
          <img src="/pix/samples/23m.jpg" alt="Sample photo">
          <div class="text">
            <h3> {gameId}</h3>
            <p>{name}</p>
            <button>Add to card</button>
          </div>
        </article>
      </div>
      {{/Game}}
    </div>

      
</body>
</html>