<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login to Kid Read</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="pages/Login/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<!-- JQuery  -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="pages/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="pages/Login/css/main.css">
	<!--===============================================================================================-->

	<!-- STYLE CSS -->
	<link rel="Stylesheet" href="/css/style.css" />

	{{!-- this file contains a function for choosing a random photo,  it must be placed in head--}}
	<script src="js/login-scripts.js"></script>

</head>

<body>

	{{> unauthenticated_topNav }}




	<div class="limiter">

		<div class="container-login100">

			<div class="wrap-login100">

				<div class="login100-pic js-tilt" data-tilt>
					{{!-- <img src="pages/Login/images/img-04.png" alt="IMG"> --}}
					<script type="text/javascript">getRandomImage(random_images_array, attribution_a_content_array);</script>
				</div>

				<form method="POST" class="login100-form validate-form" action="/login">
					<span class="login100-form-title lang" key="memberLogin">
						Member Login
					</span>

					<div id="userName" class="wrap-input100 validate-input" key="userNameRequired" data-validate="שם משתמש הוא שדה חובה.">
						<input class="input100 inputHolder" type="text" name="username" key="userName" placeholder="שם משתמש">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" key="passRequired" data-validate="סיסמה היא שדה חובה">
						<input class="input100 inputHolder" type="password" name="password" key="password" placeholder="סיסמה">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					{{#if message}}
						<div class="alert alert-warning input-feedback" role="alert">
							<h1>{{message}}</h1>
						</div>
					{{/if}}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn lang" key="login">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<a class="txt2 lang" href="./forgot" key="userPass" dir="rtl">
							Username / Password?
						</a>
						<span class="txt1 lang" key="forgot" dir="rtl">
							Forgot
						</span>
					</div>

					<div class="text-center p-t-136">
						<i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
						<a class="txt2 lang" key="createAccount" href="/signUp/signUpPage">
							Create your Account
						</a>
						
					</div>
				</form>
			</div>
		</div>
	</div>

	{{> unauthenticated_footer}}



	<!--===============================================================================================-->
	<script src="pages/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="pages/Login/vendor/bootstrap/js/popper.js"></script>
	<script src="pages/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="pages/Login/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="pages/Login/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="pages/Login/js/main.js"></script>

</body>

</html>