<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="Stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<body>
<div class="navbar" >
    <div id="main">
                <div id="my-account" class="tabcontent">
                  <div class="title">
                    <h2>&#128179; My Account</h2>
                  </div> 
                  <div class="total_account">
                  <p>You Have In your account:{{}} </p>
                  </div>
                  <hr>
                  <div class="my-account-style">
                  <span>&#128312; out</span><span>&#128313; in</span>
                  <table>
                    <tr>
                      <th>Date and Time</th>
                      <th>Operation</th>
                      <th>Amount</th>
                    </tr>
                    <tr>
                      <td>20/1/2018</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                    </tr>
                    <tr>
                      <td>20/3/2019</td>
                      <td>Francisco Chang</td>
                      <td>Mexico</td>
                    </tr>
                    <tr>
                      <td>25/3/2019</td>
                      <td>Roland Mendel</td>
                      <td>Austria</td>
                    </tr>
                    <tr>
                      <td>28/3/2019</td>
                      <td>Helen Bennett</td>
                      <td>UK</td>
                    </tr>
                    </table>
                   </div>
                </div>
    </div>
  </body>
</html>

