<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>header</title>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="" class="active" class="openbtn" alt="" onclick="openNav()"><i class="fa fa-fw fa-user"></i></a>
        <a class="tablinks" onclick="openDiv(event,'home')">2READ</a>
        <a class="tablinks" onclick="openDiv(event, 'books')">Books</a>
        <a class="tablinks" onclick="openDiv(event, 'games')">Games</a>
        <a href="pages/Login/login.html">Sign In</a>
        <a href="pages/signUp.html">Sign Up</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

</body>

</html>