    <div  class="topnav" id="myTopnav">
    <div class="left-nav"> 
    <a class="tablinks" class="lang" key="welcome"id="welcomeTitle">ברוך הבא {{userData.userName}}</a>
    {{#if userData.points}}
    <a class="tablinks" class="lang" key="myPoints" id="pointsTitle">נקודות שלי: {{userData.points}}</a>
    {{/if}}
    </div>
    
    <a href="#" id="openNav" class="active" onclick="openSideNav()"><i class='far fa-user'></i></a>     
    <a href="#">KidsRead</a>
    <a href="/books" class="lang" key="books">ספריה</a>
    <a href="/games" class="lang" key="store">חנות</a>
    <a href="/kid/notifications" class="lang" key="notifications">התראות</a>
    <div class="dropdown">
      <button class="dropbtn lang " key="language">שפה 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a  class="translate lang" id="arb"  key="arabic">ערבית</a>
        <a  class="translate lang" id="heb"  key="hebrew">עברית</a>
      </div>
    </div> 
    <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
    <i class="fa fa-bars"></i>
    </a>
    </div>