    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">&times;</a>
      <a href="../" class="lang" key="home"> 🏠דף הבית </a>
      <a href="profile" class="lang" key="myProfile">👦פרופיל </a>
      <a href="books" class="lang" key="myBooks"> 📚רשימת הספרים </a>
      <a href="quizes" class="lang" key="myQuizes">⏱️ בחנים </a>
      <a href="notes"class="lang" key="myNotes">📄הערות  </a>
      <a href="games"class="lang" key="myGames">🎮משחקים </a>
      <a href="groups"class="lang" key="myGroups">👨‍👩‍👧‍👦 קבוצות </a>
      <a href="friends"class="lang" key="myFriends">👨‍👩‍ חברים </a>
      <a href="account"class="lang" key="myAccount">💳חשבון  </a>
      <a href="cart" class="lang"key="myCart">🛒 סל קניות </a>
      <a href="settings"class="lang" key="settings">🔧הגדרות </a>
      <a href="../logout" class="lang"key="logOut">🏃יציאה </a>
    </div>