<ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    <li class="gn-search-item"></li><a class="navbar-item"><i class="fas fa-search"></i><span> <input
                                placeholder="חיפוש" type="search" class="gn-search" style="margin-left: -65px;"></span></a></li>
                
                    {{!-- <li class="gn-search-item">
                                        <input placeholder="Search" type="search" class="gn-search">
                                        <a class="gn-icon gn-icon-search"><span>Search</span></a>
                					</li> --}}
                
                    <li><a class="navbar-item" href="/supervisor/my-kids"><span class="icon"><i class="fas fa-child"></i></span><span>ילדים בפיקוחי</span></a></li>
                    <li><a class="navbar-item" href="/teacher/books"><span class="icon"><i class="fas fa-book"></i></span><span>ספריה</span></a></li>
                    <li><a class="navbar-item" href="/grown-up/add-book"><span class="icon"><i class="fas fa-book-medical"></i></span><span>הוספת ספר</span></a></li>
                    <li><a class="navbar-item" href="/teacher/add-quiz"><span class="icon"><i class="fas fa-file-alt"></i></span><span>הוספת בוחן</span></a></li>
                    <li><a class="navbar-item" href="/supervisor/add-kid"><span class="icon"><i class="fas fa-user-plus"></i></span><span>הוספת ילדים</span></a></li>
                    <li><a class="navbar-item" href="#"><span class="icon"><i class="fas fa-file"></i></span><span> דו"חות</span></a></li>
                
                </ul>
            </div><!-- /gn-scroller -->
        </nav>
    </li>
    <li><a href="/" class="fas fa-home" style="padding-top:20px"> דף הבית</a></li>
    <li><a href="/grown-up/notifications" class="fas fa-bell notificationNumBadge" data-notificationNumBadge="{{userData.numOfNewNotifications}}" style="padding-top:20px"> התראות</a></li>
    <li><a class="fas fa-sign-out-alt" href="/logout" style="padding-top:20px"><span> יציאה</span></a></li>
    
    <li id="welcomeTitle">
        
        <img id="profilePic" src="{{userData.profilePic}}" alt="ProfilePic" class="profilePic">
        <a class="fas fa-user" style="padding-top:20px"><span> {{userData.userName}} ברוך הבא</span></a>
    
    </li>
    
    
</ul>

