<div class="navbar" id="navbar-unauthenticated" >

  <a id="aKidsReadLogo" href="/" style="color: inherit">
    <img id="KidsReadLogo" src="/img/KidsRead-Logo.png" alt="KidsRead">
  </a>

  <div class="topnav" id="myTopnav-unauthenticated">
    <a href="/home" class="lang" key="home2">דף הבית</a>
    <a href="/login" class="lang" key="login">כניסה</a>
    <a href="/signUp/signUpPage" class="lang" key="registration">הרשמה</a>
    <div class="dropdown">
      <button class="dropbtn lang " key="language" style="font-size:15px;">שפה 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a  class="translate lang" id="arb"  key="arabic">ערבית</a>
        <a  class="translate lang" id="heb"  key="hebrew">עברית</a>
      </div>
    </div> 
  </div>
</div>