/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #462b56;
  box-sizing: border-box; }

.topnav #profilePic {
  overflow: hidden;
  width: 30px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  background-color: #6a60a9; }

#KidsReadLogo {
  width: 15vw;
  margin-left: 40vw; }

#aKidsReadLogo {
  background-color: transparent; }

#KidsReadLogoKidPage {
  width: 5vw; }

#aKidsReadLogoKidPage {
  background-color: transparent; }

#navbar-unauthenticated {
  background-color: #cea7f9; }

#myTopnav-unauthenticated {
  border-radius: 10px; }

/**************** badge number of new notifications  *************************/
.notificationNumBadge {
  position: relative; }

.notificationNumBadge[data-notificationNumBadge]:after {
  content: attr(data-notificationNumBadge);
  position: absolute;
  top: 4px;
  left: -2px;
  font-size: .7em;
  background: #00b300;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333; }

/**************** /badge number of new notifications  *************************/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1; }

.topnav {
  overflow: hidden;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #6a60a9; }

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px; }

.topnav a:hover {
  background-color: #dedcee;
  color: black; }

.active {
  background-color: #fbd14b;
  color: black;
  font-size: 18px; }

.topnav .icon {
  display: none; }

#openNav {
  display: none;
  color: black; }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }
  .topnav a.icon {
    float: left;
    display: block; } }

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }

.left-nav {
  float: left; }

.dropdown {
  float: right;
  overflow: hidden; }

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #dedcee;
  color: black; }

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

/*-------------------------------------------*/
.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px; }

.notification:hover {
  background: #f1f1f1; }

.notification .badge {
  position: absolute;
  top: 0;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white; }

/* ------------------------ */
.sidenav {
  height: 100vh;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #6a60a9;
  overflow-x: hidden;
  transition: 0.5s;
  overflow-y: auto; }

.sidenav a {
  padding: 15px 34px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffff;
  display: block;
  transition: 0.3s;
  padding-bottom: 10px;
  text-align: right; }

.sidenav a:hover {
  color: #f1f1f1;
  font-size: 20px;
  transition: 0.3s;
  border: 1px solid #dedcee;
  box-shadow: inset 0 0 6px #dedcee; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 150px; }

.sidenav .closebtn:hover {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 42px;
  margin-left: 50px;
  border: none;
  box-shadow: none; }

#main {
  transition: margin-right .5s;
  padding: 0;
  margin-right: 240px; }

#main h1 {
  font-size: 160%;
  font-weight: bold; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

#mySidenav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

#mySidenav::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#mySidenav::-webkit-scrollbar-thumb {
  background-color: #7189bf;
  border: 1px solid #7189bf; }

.my-books-style {
  /* Create three equal columns that floats next to each other */
  /* Clear floats after the columns */ }
  .my-books-style h1 {
    margin-right: 3%;
    margin-top: 2%; }
  .my-books-style button {
    width: 88%;
    margin-right: 3%; }
  .my-books-style .column {
    float: left;
    width: 25%;
    height: 600px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    overflow: scroll;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); }
  .my-books-style .column:hover {
    box-shadow: 0px 0px 10px 5px rgba(129, 88, 252, 0.2); }
  .my-books-style .div_title {
    padding: 0;
    margin-top: 0;
    width: 100%;
    height: 3%;
    align-items: center;
    text-align: center; }
  .my-books-style .a {
    background-color: rgba(129, 88, 252, 0.6);
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 80%;
    border: solid 2px; }
  .my-books-style a:hover, .my-books-style a:active {
    background-color: #e8e8e8;
    color: black;
    border: none; }
  .my-books-style .column {
    margin-top: 3%;
    margin-right: 3%;
    float: right;
    padding: 10px; }
  .my-books-style .row:after {
    content: "";
    display: table;
    clear: both; }

.card-style .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: 3%;
  padding: 3%; }

.card-style .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 500px;
  text-align: center; }

.card-style h1 {
  margin-right: 3%; }

.card-style .gamesTitle {
  margin-top: 3%; }

.card-style .details {
  font-size: 150%;
  padding: 70px 0; }

.card-style .details h1 {
  padding: 20px 0; }

.card-style .details input[type=submit] {
  width: 80%;
  padding: 20px 0;
  background-color: #eccc68;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.card-style .details input[type=submit]:hover {
  width: 85%;
  transform: scale(1.09, 1.09); }

.card-style .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.card-style .flip-card-inner button {
  background-color: #eccc68;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; }

.card-style .flip-card-inner button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }

.card-style .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.card-style .flip-card-front, .card-style .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.card-style .flip-card-front {
  background-color: #bbb;
  color: black; }

.card-style .flip-card-back {
  background-color: rgba(106, 96, 169, 0.4);
  color: white;
  transform: rotateY(180deg); }

.home-style .home-container {
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-top: 3%;
  margin-bottom: 3%; }

.home-style .home-container h2 {
  padding-bottom: 20px; }

.home-style .search-container input[type=text] {
  width: 70%;
  height: 50px;
  box-sizing: border-box;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 110%; }

.my-notes-style {
  /* Full-width input fields */
  /* Set a style for all buttons */
  /* Extra styles for the cancel button */
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button (x) */
  /* Add Zoom Animation */
  /* Change styles for span and cancel button on extra small screens */ }
  .my-notes-style .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%; }
  .my-notes-style .dropbtn:hover {
    background-color: grey; }
  .my-notes-style .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    align-items: center;
    text-align: center; }
  .my-notes-style .dropdown-content {
    display: none;
    width: 100%;
    padding: 50px 0;
    text-align: left;
    background-color: white;
    color: black; }
  .my-notes-style input[type=text] {
    width: 130px;
    height: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; }
  .my-notes-style input[type=text]:focus {
    width: 80%; }
  .my-notes-style input[type=text], .my-notes-style input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; }
  .my-notes-style button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%; }
  .my-notes-style button:hover {
    opacity: 0.8; }
  .my-notes-style .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336; }
  .my-notes-style .container {
    padding: 16px; }
  .my-notes-style span.psw {
    float: right;
    padding-top: 16px; }
  .my-notes-style .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px; }
  .my-notes-style .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */ }
  .my-notes-style .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold; }
  .my-notes-style .close:hover,
  .my-notes-style .close:focus {
    color: red;
    cursor: pointer; }
  .my-notes-style .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
  @media screen and (max-width: 300px) {
    .my-notes-style span.psw {
      display: block;
      float: none; }
    .my-notes-style .cancelbtn {
      width: 100%; } }

.my-account-style .total_account {
  font-size: 120%;
  margin-top: 2%; }

.my-account-style hr {
  border-top: 7px solid; }

.my-account-style table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  background-color: #fff; }

.my-account-style td, .my-account-style th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

.my-account-style th {
  background-color: rgba(129, 88, 252, 0.5); }

.my-profile-style {
  /* When the input field gets focus, change its width to 100% */ }
  .my-profile-style .profilePic {
    vertical-align: middle;
    width: 200px; }
  .my-profile-style .container {
    width: 90%;
    height: auto;
    text-align: center;
    margin-right: 3%;
    margin-top: 3%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 2%; }
  .my-profile-style .detail-container {
    text-align: center;
    background-color: #ffff;
    padding: 2%; }
  .my-profile-style .img-container {
    background-color: rgba(106, 96, 169, 0.8);
    padding: 2%; }
  .my-profile-style #profileUpdatebtn {
    margin-top: 1%;
    width: 35%;
    background-color: rgba(106, 96, 169, 0.8);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; }
  .my-profile-style input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; }
  .my-profile-style input[type=text]:focus {
    width: 150%; }

.modal-style {
  /* Center the avatar image inside this container */
  /* Avatar image */ }
  .modal-style .modal input[type=text], .modal-style input[type=number], .modal-style input[type=file], .modal-style select, .modal-style textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right; }
  .modal-style label {
    float: right; }
  .modal-style h3 {
    text-align: right;
    float: right; }
  .modal-style .modal button:hover {
    opacity: 0.8; }
  .modal-style .cancelbtn {
    background-color: #fdd043;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto; }
  .modal-style .okbtn {
    background-color: #e4e7ec;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto; }
  .modal-style .container {
    padding: 16px; }
  .modal-style .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px; }
  .modal-style .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%; }
  .modal-style .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
  @media screen and (max-width: 300px) {
    .modal-style .cancelbtn {
      width: 100%; }
    .modal-style .okbtn {
      width: 100%; } }
  .modal-style .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0; }
  .modal-style img.profilePic {
    width: 30%;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.cart-style h1 {
  margin-right: 6%;
  margin-top: 2%;
  margin-bottom: 2%; }

.cart-style li {
  background-color: #ffff; }

.cart-style ul {
  width: 90%;
  float: center;
  margin-right: 3%; }

.cart-style img {
  vertical-align: middle;
  width: 100px;
  height: 90px;
  border-radius: 50%;
  margin-left: 5%; }

.cart-style .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1; }

.cart-style .deleteItem:hover .tooltiptext {
  visibility: visible;
  background-color: #fff; }

.cart-style #userNameException {
  width: 300px;
  height: auto;
  text-align: center;
  color: red;
  font-size: 120%; }

.cart-style .checkClass {
  margin-right: 6%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 120%; }

.cart-style .checkout {
  background-color: #ffc048;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px; }

.cart-style .checkout:hover {
  transform: scale(1.1, 1.1); }

.notes-style h1 {
  margin-right: 3%;
  display: block;
  margin-top: 3%;
  margin-bottom: 3%; }

.notes-style .notesContainer {
  width: 90%;
  margin-right: 3%; }

.notes-style .collapsible {
  background-color: #f5f6fa;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 15px;
  border: 1px solid #dcdde1;
  float: right; }

.notes-style .arrow {
  margin-left: 2px; }

.notes-style .active, .notes-style .collapsible:hover {
  background-color: #dcdde1; }

.notes-style .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffff;
  margin-bottom: 5px;
  border: 1px solid #dcdde1;
  padding: 20px 20px; }

.notes-style #add-note-btn {
  margin-right: 3%;
  background-color: #ffc048;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0px 0px 10px 2px #dcdde1; }

.notes-style button {
  background-color: transparent;
  border: none; }

.notes-style #add-note-btn:hover {
  transform: scale(1.1, 1.1); }

.account-style .my-account-container {
  margin-left: 3%;
  margin-right: 3%; }

.account-style .my-account-container p {
  font-size: 120%;
  margin: 2% 0% 2% 0%; }

.account-style .my-account-container hr {
  border-top: 1.5px solid; }

.account-style .my-account-container table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

.account-style .my-account-container td, .account-style th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

.account-style .my-account-container th {
  background-color: rgba(129, 88, 252, 0.5); }

.message-style {
  /* Clear floats after the columns */ }
  .message-style h1 {
    margin-top: 2%;
    margin-right: 3%; }
  .message-style .column1 {
    margin-right: 3%; }
  .message-style .column1, .message-style .column2 {
    margin-top: 3%;
    float: right;
    width: 45%;
    height: 300px;
    /* Should be removed. Only for demonstration */
    background-color: #ffff;
    height: 100vh;
    border: 2px solid #f1f2f6; }
  .message-style .row:after {
    content: "";
    display: table;
    clear: both;
    margin-right: 3%; }
  .message-style .collapsible {
    background-color: #dcdde1;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    border: solid 2px #ffff; }
  .message-style .active, .message-style .collapsible:hover {
    background-color: rgba(126, 107, 255, 0.3);
    border: solid 2px rgba(126, 107, 255, 0.3); }
  .message-style .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border: solid 2px rgba(126, 107, 255, 0.3); }
  .message-style .title {
    font-size: 120%;
    font-weight: bolder; }

.group-style h1 {
  margin-right: 3%; }

.group-style .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: 3%;
  padding: 3%; }

.group-style .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 230px;
  height: 250px;
  border-radius: 5px;
  text-align: center;
  margin: 1%; }

.group-style .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1, 1.1); }

.group-style img {
  border-radius: 5px 5px 0 0;
  height: 85%; }

.group-style .container {
  padding: 2px 16px; }
