<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{userData.userType}} - Add a new Book page</title>

    <!-- Favicon -->

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


    <!-- Stylesheets -->


    <!-- Main Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/grown-up/add-book.css" />


    {{> grown_up_head}}

</head>

<body>
    

    <div class="container">
        {{> grown_up_body}}

        
        <header>
            <h1>הוספת ספר חדש
                <span>בחלק זה ניתן להוסיף ספרים חדשים לספריה</span>
            </h1>
        </header>



        <form method="POST" id="addBookForm" name="addBookForm" action="/grown-up/addNewBook" enctype="multipart/form-data">
            {{!------------ Book details -----------------------}}
            <div class="wrap">
                <div class="background">
                    <div id="title">
                        <h1 id="formTitle">פרטי הספר</h1>
                    </div>

                    <p class="pTitles">
                            <input name="bookName" id="bookName" type="text" class="section" placeholder="שם הספר" required>
                            *:שם הספר
                    </p>

                    <p class="pTitles">
                            <input name="authorFirstName" id="authorFirstName" type="text" class="section" placeholder="שם פרטי" required>
                            *:שם פרטי של הסופר
                    </p>

                    <p class="pTitles">
                            <input name="authorLastName" id="authorLastName" type="text" class="section" placeholder="שם משפחה" required>
                            *:שם משפחת הסופר
                    </p>

                    <p class="pTitles">
                        <select required id="langSelect" class="section" name="bookLang" form="addBookForm">
                            <option selected="selected" value="title">בחר שפה</option>
                            <option value="hebrew">עברית</option>
                            <option value="arabic">ערבית</option>
                        </select>
                        *:שפה:
                    </p>

                    <p class="pTitles">
                        <img class="imgPrev" src="#" alt="" id="bookPic">
                        <input class="imgPrevInput" type="file" id="bookPicInput" name="bookPicInput" class="section" accept="image/*"
                            alt="your image"  />

                        *:תמונת הספר
                    </p>
                </div>
            </div>
        </form>

        <div id="snackbar">יש למלא את כל השדות שממוסגרים <span style='color: rgb(255, 0, 0)'>באדום</span>.</div>

        <button type="submit" value="Submit" id="submintBtn">הוסף ספר</button>
    </div> <!-- /container -->


    

    {{> grown_up_footer}}

    <!--====== Javascripts & Jquery ======-->
    
    
    <script src="/js/grown-up/add-book-scripts.js"></script>
   

</body>

</html>