<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{userData.userType}} - Add a new Quiz page</title>

    <!-- Favicon -->

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


    <!-- Stylesheets -->


    <!-- Main Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/teacher/add-quiz.css" />


    {{> grown_up_head}}

</head>

<body>
    
<div class="legend" dir="RTL">
</div>

    <div class="container" id="quizContainer">
        {{> grown_up_body}}

        
        <header>
            <h1>יצירת בוחן חדש
                <span>בחלק זה ניתן ליצור בחנים על ספרים</span>
            </h1>
        </header>



        <form method="POST" id="quizForm" name="quizForm" action="/query/addNewQuiz" enctype="multipart/form-data">
            {{!------------ Quiz details -----------------------}}
            <div class="wrap">
                <div class="background">
                    <div id="title">
                        <h1 id="formTitle">פרטי הבוחן</h1>
                    </div>
                    <p class="pTitles">
                        <img src="" alt="" id="bookPic">
                        <select required id="booksList" class="section" name="quizBookID" form="quizForm">
                            <option selected="selected" value="title">בחירת ספר</option>
                        </select>
                        *:ספר
                    </p>
                    <p class="pTitles">
                        <input name="quizTitle" id="quizTitle" type="text" class="section" placeholder="כותרת הבוחן" required>
                        *:כותרת הבוחן
                    </p>
                    <p class="pTitles">
                        <select required id="langSelect" class="section" name="quizLang" form="quizForm">
                            <option selected="selected" value="title">בחר שפה</option>
                            <option value="hebrew">עברית</option>
                            <option value="arabic">ערבית</option>
                        </select>
                        *:שפה:
                    </p>
                    <p class="pTitles">
                        <img class="imgPrev" src="#" alt="" id="quizPic">
                        <input class="imgPrevInput" type="file" id="quizPicInput" name="quizPicInput" class="section" accept="image/*"
                            alt="your image"  />

                        :תמונת הבוחן
                    </p>

                    <p class="pTitles">
                        <select required id="timeMinSelect" class="section" name="quizTime" form="quizForm">
                            <option selected="selected" value="title" name="quizTime">בחר אורך הבוחן</option>
                        </select>
                        *:משך בדקות
                    </p>

                    <input id="totalQuestionsNum" name="totalQuestionsNum" type="hidden">

                </div>
            </div>

            {{!------------ questions -----------------------}}
            <div class="wrap question" id="q1">
                <div class="background">
                    <div class="questionTitle">
                        <h1 class="qTitle" id="q1-title">שאלה 1</h1>
                    </div>

                    <p class="pTitles">
                        <input required name="q1content" type="text" class="section" placeholder="תוכן השאלה" form="quizForm">
                        *:תוכן
                    </p>

                    <p class="pTitles">
                        <img class="imgPrev" src="#" alt="" id="q1pic">
                        <input class="imgPrevInput" type="file" id="q1picInput" name="q1picInput" class="section" accept="image/*"
                            alt="your image" style="width: 50%;" />
                        :תמונת שאלה 1
                    </p>

                    <p class="pTitles">
                        <select required id="q1type" class="section questionTypeClass" name="q1type" form="quizForm">
                            <option selected="selected" value="single">תשובה יחידה</option>
                            <option value="multi">תשובות מרובות</option>
                        </select>
                        *:סוג השאלה
                    </p>

                    <div id="q1ans1div">
                        <p class="pTitles">
                            <input name="q1ans1content" id="q1ans1content" type="text" class="section" placeholder="תוכן תשובה 1" required>
                            *:תשובה 1
                        </p>

                        <p class="pTitles">
                            <img class="imgPrev"  src="#" alt="" id="q1ans1pic">
                            <input class="imgPrevInput" type="file" id="q1ans1picInput" name="q1ans1picInput" class="section"
                                accept="image/*" alt="your image" style="width: 50%;" />
                            :תמונת תשובה 1
                        </p>
                    </div>

                    <div id="q1ans2div">
                        <p class="pTitles">
                            <input name="q1ans2content" id="q1ans2content" type="text" class="section" placeholder="תוכן תשובה 2" required>
                            *:תשובה 2
                        </p>

                        <p class="pTitles">
                            <img class="imgPrev" src="#" alt="" id="q1ans2pic">
                            <input class="imgPrevInput" type="file" id="q1ans2picInput" name="q1ans2picInput" class="section"
                                accept="image/*" alt="your image" style="width: 50%;" />
                            :תמונת תשובה 2
                        </p>
 
                    </div>
                    <input id="q1totalAnsNum" name="q1totalAnsNum" type="hidden">



                    <button type="button" class="btn btn-info btn-circle btn-xl" id="addAnsBtn" title="Add Option"><i
                            class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-circle btn-xl" id="removeAnsBtn"
                        title="Remove Option"><i class="fas fa-minus"></i>
                    </button>


                </div>

            </div>

            <button type="button" class="btn btn-danger btn-add-question" id="removeQuestionBtn"
                title="remove Question"> מחק
                שאלה <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-warning btn-add-question" id="addQuestionBtn" title="Add Question"> הוסף
                שאלה <i class="fas fa-plus"></i>
            </button>


           

        </form>

        <div id="snackbar">יש למלא את כל השדות שממוסגרים <span style='color: rgb(255, 0, 0)'>באדום</span>.</div>

        <button type="submit" value="Submit" id="submintBtn">צור בוחן</button>
    </div> <!-- /container -->


     <!--====== Javascripts & Jquery ======-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/teacher/add-quiz-scripts.js"></script>

    {{> grown_up_footer}}

   

</body>

</html>