<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kid-Read Books</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

   <!-- Favicon -->

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->

    <!-- Main Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/teacher/books.css" />
  
  {{> teacher_head}}
</head>

<body>

  <div class="container">
    {{> teacher_body}}
    <header>
      <h1>Books List</h1>
    </header>


    <div class="cards-list">
      {{#books}}
      <a href="single-book-page/{{bookID}}">
        <div class="card {{bookID}}" style="border-radius: 40px ;background-color: black">
          <div class="card_image"> <img src="{{pic}}"
              onerror="this.onerror=null;this.src='/img/books/default-book.gif';" /></div>
          <div class="card_title title-white">
            <p>{{bookName}}</p>
          </div>
        </div>
        <br><br>
      </a>
      {{/books}}
    </div>
  </div><!-- /container -->




 <!--====== Javascripts & Jquery ======-->
  <script src="/js/teacher/books-scripts.js"></script>

  {{> teacher_footer}}

</body>

</html>