<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{userData.userType}} - Home page</title>
	{{> grown_up_head}}
</head>

<body>
	<div class="container">
		
	{{> grown_up_body}}


		<header>
			<h1>{{userData.userName}} ברוך הבא<span> </span> <a href="/">דף</a></a> הבית</span></h1>
		</header>
	</div><!-- /container -->

	{{> grown_up_footer}}

	 <!--====== Javascripts & Jquery ======-->
	
</body>

</html>