<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kid-Read Teacher hompage</title>
	{{> teacher_head}}
</head>

<body>
	<div class="container">
		{{> teacher_body}}
		<header>
			<h1>Welcome {{userData.userName}}<span> Kid-Read Home Page </span> <a href="/">Home</a> page</span></h1>
		</header>
	</div><!-- /container -->

	{{> teacher_footer}}
</body>

</html>