/*---------------------------------------------*/
.input-feedback {
    margin-bottom: 20px;


    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
  }

  /*---------------------------------------------*/
.input-feedback h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


  .alert-warning {
    color: #856404;
    background-color: #fbe715;
    border-color: #ffeeba;
  }
  
  .alert-warning hr {
    border-top-color: #ffe8a1;
  }
  
  .alert-warning .alert-link {
    color: #533f03;
  }










/**************** Language Filter Select *************************/
  /* Reset Select */
  #filterLngSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #9b91d8;
    background-image: none;
  }
  /* Remove IE arrow */
  #filterLngSelect::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .filterSelectDiv {
    float: left;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 1vw;
    position: relative;
    display: flex;
    width: 18vw;
    height: 3vw;
    line-height: 2;
    background: #9b91d8;
    overflow: hidden;
    border-radius: .25em;
    font-size: 1.5vw;
  }
  #filterLngSelect {
    flex: 1;
    padding: 0 1.7vw;
    color: #fff;
    cursor: pointer;
    font-size: 1.3vw;
    
  }
  /* Arrow */
  .filterSelectDiv::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .filterSelectDiv:hover::after {
    color: #f39c12;
  }

  /**************** /Language Filter Select *************************/
   