header {
    max-height: 20px;
  }

.wrapper { 
    border : 2px dotted #ccc; padding: 2px;
    background-color: #d1d8e0;
     
  }
  
  .wrapper div {
     width: 100%; 
     min-height: 400px;
     padding: 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
      justify-content: center;
  }
  #one { 
      background-color: #d1d8e0;
      align-items: center;
      text-align:center;
  }
  #two { 
   text-align:center;
   align-items: center;
   background-color: #d1d8e0;
   justify-content: center;
   /* background-image:linear-gradient(to left,#dfe6e9,rgb(162,155,254)); */
     
     }
  
  /* This will style any <img> element in .parent div */
  #one img {
     max-width:100%;
  max-height:100%;
     
  }
  
   #two h1 {
       padding-top: 30px;
      color: #2c2c54;
  }

  

  
  @media screen and (min-width: 600px) {
     .wrapper {
        height: auto; overflow: hidden; 
     }
     #one { width: 300px; float: left; }
     #two { margin-left: 200px; }
  }
  .checked {
    color: orange;
  }
  .review_section{
      margin-right: 3%;
  }
  .bookInformation{
    margin-top:50px;
    font-size: 25px;
  }
  #two #addToList{
    background-color: #ffc048;
    align-items: center;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    box-shadow: 0px 0px 10px 2px  rgb(220,221,225);
    position: relative;
    right: 30%;
    margin-top:30px;
  }
   #addToList:hover{
    transform: scale(1.1,1.1);
  }
  .chip {
    margin-right: 3%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    display: inline-block;
    width: 90%;
    height: auto;
    padding: 0 25px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 25px;
    background-color: #ffff;
    
  }
  
  .chip img {
    float: right;
  
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  #reviewText{
    margin-right: 30px;
    padding: 3%;
  }
  .titleClass{
    padding-top: 20px;
    color: #2c2c54;
  }
  #reviewContent{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
  }
  #review{
    background-color: #ffc048;
    align-items: center;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0px 0px 10px 2px  rgb(220,221,225);
    margin-bottom: 10px;
  }

  .container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    width:90%;
    margin-right: 3%;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: right;
    margin-right: 10px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffff;
  }
  .container p{
    margin-right:80px;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
  }