<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/card_detail.css">
</head>
<body>
    <header>
        <section class="title">
            <h1>Books</h1>
          </section>
    </header>
   <section>
        

        <div class="cards">
                <article class="card">
                        <img src="../img/icons/book _5.png" alt="">
                        <button>Want to Read</button>
                  </div>
                </article>
        
                <article class="card">

                        <h1>Book Name</h1>
                        <h3>Writer:</h3> <label for="">Maram</label>
                        <h3>Review:</h3> <label for="">Maram</label>
                        <h3>Rating:</h3> <label for="">Maram</label>
                        <h3>Staers:</h3>

                </article>



        <!-- <div class="book_img">
         <img src="../img/icons/book _5.png" alt="">
         <button>Want to Read</button>
        </div>
        <div class="book_details"> 
            <h1>Book Name</h1>
            <h3>Writer:</h3> <label for="">Maram</label>
            <h3>Review:</h3> <label for="">Maram</label>
            <h3>Rating:</h3> <label for="">Maram</label>
            <h3>Staers:</h3>
            <div class="rating">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            <span>&#9733;&#9733;&#9733;&#9733;</span><span>&#9734;</span>
        </div>
       
    </section> -->
    <section>
        <h3>Community Reviews</h3>

    </section>
</body>
</html>