<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/card_detail.css">
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>

<!-- navbar-->


  <!-- Header-->
    <header>
      <section class="title">
        <h1>Games</h1>
      </section>
    </header>

 <!-- cards-->

<div class="main">
    <div class="cards">
        <article class="card">
            <a href="https://cdn.htmlgames.com/GreedyWorm/" target="_blank"><img src="https://cdn.htmlgames.com/GreedyWorm/img/icon/image-300x200.jpg"></a>
          <div class="text">
            <h3>Greedy Worm</h3>
  
            <button>Add to cart</button>
          </div>
        </article>

        <article class="card">
            <a href="https://cdn.htmlgames.com/MovingTiles/" target="_blank"><img src="https://cdn.htmlgames.com/MovingTiles/img/icon/icon-152x152.png"></a>
          <div class="text">
            <h3>Moving Tiles</h3>
            <button>Add to cart</button>
          </div>
        </article>

        <article class="card">
          <img src="/pix/samples/22l.jpg" alt="Sample photo">
          <div class="text">
            <h3>Dynamically Procrastinate</h3>
            <p>Completely synergize resource taxing relationships via premier niche markets.</p>
            <button>Add to cart</button>
          </div>
        </article>

        <article class="card">
          <img src="../img/icons/notebook.png" alt="Sample photo">
          <div class="text">
            <h3>Best in class</h3>
            <p>Imagine jumping into that boat, and just letting it sail wherever the wind takes you...</p>
            <button>Add to cart</button>
          </div>
        </article>

      </div>
    </div>

      
</body>
</html>