<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button>Finish Exam</button>
    <button>Exit</button>
    <button>create new question</button>
    <form action="">
        <label for="">Question</label>
        <input type="text" name="" id="">
        <input type="image" name="" id="">
        <select name="" id="">
            <option value="">single answer</option>
            <option value="">multi select</option>
        </select>
        <input type=""> or
        <input type=""> or
        <select name="" id="">
          <option value="">45 seconds</option>
          <option value="">30 seconds</option>
          <option value="">20 seconds</option>
          <option value="">10 seconds</option>
          <option value="">5 seconds</option>
        </select>
        <a href="home.html">cancel</a>
        <a href="home.html">save</a>
    </form>
</body>
</html>
