<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <form action="">
                <label for="">User Name</label>
                <input type="text">
                <label for="">Password</label>
                <input type="password">
                <button>Sign Up</button>
                <label for="">If You have an account <a href="sign_in.html">Sign In</a></label>
            </form>
        </div>
    </section>
</body>
</html>